
body {
      background-color: red;
      font-size: 150%;
    }
     .myClass {
      background-color: pink;
      color: blue;
    }
    .myClass {
      font-size: 300%;
      background-color: lightgreen;
      font-family: courier;
      border: 1px dotted red;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }
  h3 {
    font-size: 300%;
    font-family: Verdana;
  }
body {
  color:green;
}